fastapi~=0.115.11
uvicorn~=0.34.0
websockets==12.0
pyjwt==2.8.0
python-multipart==0.0.6
dotenv


pydantic~=2.10.6
starlette~=0.46.0
databases~=0.9.0
SQLAlchemy~=2.0.38
alembic~=1.15.1
asyncpg

httpx
pytest
pytest-asyncio